@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #060f13;
  font-family: Arial, Helvetica, sans-serif;
}

._container{
  @apply mx-auto max-w-[1280px] px-4 2xl:px-0;
}